<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <link rel="stylesheet" href="/stylesheets/responsive/signup.css" />
    <script
      src="https://kit.fontawesome.com/aafd52c1fb.js"
      crossorigin="anonymous"
    ></script>
    <title>Log in</title>
  </head>
  <body>
    <div class="container">
      <div class="box">
        <div class="heading"></div>
        <% if(error.length > 0){ %>
        <p class="error"><%= error %></p>
        <% } %>
        <form class="login-form" method="post" action="/login">
          <div class="field">
            <input
              id="username"
              type="name"
              name="username"
              placeholder="Phone number, username or email"
            />
          </div>
          <div class="field">
            <input
              id="password"
              type="password"
              name="password"
              placeholder="Password"
            />
          </div>
          <button class="login-button" title="login">Log in</button>
          <div class="separator">
            <div class="line"></div>
            <p>OR</p>
            <div class="line"></div>
          </div>
          <div class="other">
            <button class="fb-login-btn" type="button">
              <i class="fa fa-facebook-official fb-icon"></i>
              <span class="">Log in with Facebook</span>
            </button>
            <a class="forgot-password" href="#">Forgotten your password?</a>
          </div>
        </form>
      </div>
      <div class="box last-box">
        <p>Don't have an account? <a class="signup" href="/">Sign Up</a></p>
      </div>
    </div>
  </body>
</html>
